@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient: linear-gradient(
    150deg,
    #ff83de 0%,
    #63da92 19%,
    #e8b84b 45%,
    #6ac2fd 70%,
    #ff83de 97%
  );
  --dark-gradient: linear-gradient(
    150deg,
    #ac0e82 0%,
    #1b8646 19%,
    #ad7d0c 45%,
    #0b629c 70%,
    #ac0e82 97%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* background-image: url(""); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
