.heroText {
  text-transform: uppercase;
  background-image: var(--gradient);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.texturedBg {
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gradientBorder {
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: var(--gradient);
}
.aboutMeButton {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  transition: ease 250ms all;
}
.aboutMeButton:hover {
  border-width: 5px;
  padding-bottom: calc(1rem - 4px);
}

.sectionBorder {
  border-left: 0;
  border-right: 0;
  border-width: 3px;
}

.footer {
  clip-path: polygon(0% 0%, 50% 3rem, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 4rem;
}
